Terraform state files

**/.tfstate **/.tfstate.backup

Terraform variable files
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
lambda.zip
*.tfvars
*.tfstate*
__pycache__/
*.pyc
**/*.tfvars

Other sensitive files (if applicable)

**/.pem **/.key
terraform.tfvars
terraform.tfvars
pipeline/terraform.tfvars
.terraform/
*.tfstate
*.tfstate.backup
lambda.zip
.terraform/providers/
terraform-provider-*
.terraform/
*.tfstate
*.tfstate.backup
lambda.zip
.terraform/providers/
terraform-provider-*
