Terraform state files

**/.tfstate **/.tfstate.backup

Terraform variable files

**/*.tfvars

Other sensitive files (if applicable)

**/.pem **/.key
terraform.tfvars
terraform.tfvars
pipeline/terraform.tfvars
.terraform/
*.tfstate
*.tfstate.backup
lambda.zip
.terraform/providers/
terraform-provider-*
